@page "/"
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}
@using Microsoft.AspNetCore.Identity;
@using Chirp.Web.Pages.Shared;
@using Chirp.Core.Entities;
@inject SignInManager<Author> SignInManager;
@inject UserManager<Author> UserManager;

<style>
    .followbutton {
    padding: 4px;
    }
</style>

<div>
    <h2> Public Timeline </h2>
    @await Html.PartialAsync("_CheepboxPartial", Model.cheepBox)

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {

                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.AuthorName">@cheep.AuthorName</a>
                            @if (SignInManager.IsSignedIn(User) && User.Identity?.Name != cheep.AuthorName)
                            {
                                @if (User.Identity?.Name != null && !await Model._CheepRepository.Follows(User.Identity.Name,
                               cheep.AuthorName))
                                {
                                    <form method="post">
                                        <button class="button followbutton" name="followbutton" asp-page-handler="Follow">
                                            <span>Follow</span>
                                        </button>
                                        <input name="user" value="@User.Identity.Name" type="hidden">
                                        <input name="toFollow" value="@cheep.AuthorName" type="hidden">
                                    </form>
                                }
                                else
                                {
                                    <form method="post">
                                        <button class="button followbutton" name="unfollowbutton" asp-page-handler="Unfollow">
                                            <span>Unfollow</span>
                                        </button>
                                        <input name="user" value="@User.Identity?.Name" type="hidden">
                                        <input name="toUnfollow" value="@cheep.AuthorName" type="hidden">
                                    </form>
                                }
                            }
                        </strong>
                    <div style="word-wrap: break-word;">
                            @cheep.Message
                            @if (SignInManager.IsSignedIn(User) && User.Identity?.Name == cheep.AuthorName)
                            {
                            <form method="post" asp-page-handler="DeleteCheep"
                                onclick="return confirm('Are you sure you want to delete this cheep?')">
                                <input type="hidden" name="timestamp" value="@cheep.Timestamp" />
                                <input type="hidden" name="message" value="@cheep.Message" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                            }
                    </div>
                    <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
